:root {
 --primary: #82DF6B;
 --secondary: #32620E;
}

@font-face {
    font-family: 'dino';
    src: url('../fonts/Balmy.ttf') format('truetype');
}

body {
    font-family: 'dino';
    background-color: var(--primary);
    text-transform: uppercase;
}

.primary-color {
    color: var(--primary);
}

.secondary-color {
    color: var(--secondary);
}

.title-banner {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
} 

.table th{
    color: var(--secondary);
}

.table th, .table td, .table tr {
    border: 2px solid var(--secondary);
}

ul, li {
    color: var(--secondary);
    
}

.mirrored {
    transform: scaleX(-1);
}

hr {
    color: var(--secondary);
    border-width: 4px;
}